<!-- Mini page -->
<div class = "relative border-[0.2rem] border-black hover:border-[#5071c3] cursor-pointer" (click)="open()">
    <div class = "absolute top-0 left-0 w-full h-full flex justify-center items-center z-[-2]">
        <a href="{{link}}">
            <p>{{description}}</p>
        </a>
    </div>
    
    <app-svg-object svg = "{{svg}}" svg_class="w-full h-full z-[-1] relative"></app-svg-object>
</div>

<!-- Drop down page -->
<div #display_dom class="top-transition fixed top-[-100%] left-0 flex justify-center items-center w-full h-screen z-20">
    <div class="flex justify-center items-center w-full md:11/12 lg:w-9/12">
        <div class = "relative w-full md:w-10/12 lg:w-8/12">

            <!-- Overlay -->
            <div class="absolute top-0 left-0 pt-8 z-30 flex justify-between w-full h-full px-8 overflow-hidden">
                <!-- X mark -->
                <div>
                    <fa-icon [icon]="faXmark" class="text-[50px] hover:text-[#5071c3] cursor-pointer" (click)="close()"></fa-icon>
                </div>

                <!-- Info -->
                 <div class="flex flex-col items-end h-auto relative">
                    <!-- Description -->
                    <h1 class="text-[2vw] z-30 w-3/4 text-pretty text-right">{{description}}</h1>

                    <!-- Link -->
                    <a #desmos_link href="{{link}}" class="flex flex-nowrap hover:text-[#FF9F1C] text-[1vw] z-20 relative">
                        <h1 class="font-semibold">checkout</h1>                     
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>  
                    
                    <!-- Circle svg -->
                    <div class="absolute bottom-[-80px] right-0 h-full z-10 scale-50 md:scale-100 lg:scale-150">
                        <app-svg-object svg = "desmos-highlight-circle.svg" svg_class="relative"></app-svg-object>
                    </div>  

                 </div>
            </div>
            

            <!-- Svg -->
            <div class="border-[0.2rem] border-black z-40">
                <app-svg-object svg = "{{svg}}" svg_class="w-full h-full relative"></app-svg-object>
            </div>
        </div>
    </div>
</div>
