<!-- Mini page -->
<div class = "relative border-[0.2rem] border-black hover:border-[#5071c3] cursor-pointer" (click)="open()">
    <!-- <div class = "absolute top-0 left-0 w-full h-full flex justify-center items-center z-[-2]">
        <a href="{{link}}">
            <p>{{description}}</p>
        </a>
    </div>
     -->
    <!-- Svg -->
    <app-svg-object svg = "{{svg}}" svg_class="w-full h-full z-[-1] relative"></app-svg-object>
</div>

<!-- Drop down page -->
<div #display_dom class="top-transition fixed top-[-100%] left-0 flex justify-center items-center w-full h-screen z-20 text-[#353535] dark:text-[#353535]">
    <div class="flex justify-center items-center w-full md:11/12 lg:w-9/12">
        <div class = "relative w-full md:w-10/12 lg:w-8/12">

            <!-- Overlay -->
            <div class="absolute top-0 left-0 pt-8 z-30 flex justify-between w-full h-full px-8 overflow-hidden">
                <!-- X mark -->
                <div>
                    <fa-icon [icon]="faXmark" class="text-[50px] hover:text-[#5071c3] cursor-pointer" (click)="close()"></fa-icon>
                </div>

                <!-- Info -->
                 <div class="flex flex-col items-end h-full overflow-visible">
                    <!-- Description -->
                    <h1 class="text-[2rem] lg:text-[2vw] z-30 w-3/4 text-pretty text-right max-h-1/2">{{description}}</h1>

                    <div class="relative overflow-visible">
                        <!-- Link -->
                        <a #desmos_link href="{{link}}" class="flex flex-nowrap hover:text-[#FF9F1C] text-[1rem] lg:text-[1.5vw] z-20 relative peer h-auto">
                            <h1 class="font-semibold">checkout</h1>                     
                            <fa-icon [icon]="faArrowRight"></fa-icon>
                        </a>  
                        
                        <!-- Circle svg -->
                        <div class="absolute bottom-[10%] right-[-100%] z-10 peer-hover:bottom-[50%] scale-[0.7] lg:scale-[1] 2xl:scale-[1.2] 3xl:scale-[1.5] peer-hover:scale-[1.5] lg:peer-hover:scale-[1.6] 2xl:peer-hover:scale-[1.7] 3xl:peer-hover:scale-[1.8] peer-hover:rotate-180 duration-300 ease-in-out">
                            <app-svg-object svg = "desmos-highlight-circle.svg" svg_class="relative"></app-svg-object>
                        </div>  
                    </div>

                 </div>
            </div>
            

            <!-- Svg -->
            <div class="border-[0.2rem] border-black z-40">
                <app-svg-object svg = "{{svg}}" svg_class="w-full h-full relative"></app-svg-object>
            </div>
        </div>
    </div>
</div>

<!-- <div #bg_dom class="absolute hidden top-0 left-0 bg-blur w-full h-full z-0 opacity-0"></div> -->
