/* --------------------- Marquee scrolling animation ---------------------  */
.discordColumn:nth-child(even) .discord_section {            
    animation: loopTextA 10s infinite linear;        
}

@keyframes loopTextA {
    from {transform: translateY(-100%)}
    to {transform: translateY(0)}
}

.discordColumn:nth-child(odd) .discord_section {            
    animation: loopTextB 10s infinite linear;        
}

@keyframes loopTextB {
    from {transform: translateY(0)}
    to {transform: translateY(-100%)}
}

.discord_project_title{
    text-shadow:
    -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    filter: drop-shadow(1vw 1vw 0 rgb(74, 74, 74)); /* --- white, 74 -- */
}