<section class="relative">
    <div class="relative m-0 h-screen overflow-hidden">
        <div class="w-full m-auto bg-[#e4e4e4] dark:bg-[#282b30] duration-500">
            <div class="h-[140vh] overflow-hidden flex flex-wrap w-full m-auto rotate-[10deg] translate-y-[-20vh]">

                <!-- Columns -->
                @for(number of numbers; track $index){
                    @let col_index = $index;
                    <div class="discordColumn overflow-hidden flex flex-col flex-wrap w-[33.33%] p-[0.66vw] duration-500">

                        <!-- Sections -->
                        @for(number of numbers; track $index){
                        <div class="discord_section">

                            <!-- Messages -->
                            @for(message of messages; track $index){
                                @if($index % message_len == col_index){                            
                                    <app-discord-message time = "{{message.date}}" name = "{{message.name}}" text="{{message.audioString}}" icon="{{message.avatar}}"></app-discord-message>
                                }
                            }
                        </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class = 'w-full h-full absolute top-0 left-0 z-0 bg-gradient-to-t from-black to-white opacity-50'></div>

    <div class="w-full h-screen absolute top-0 left-0 flex flex-wrap items-center overflow-hidden">
        <div class = "discord_project_title ml-8 mb-8 whitespace-nowrap self-center text-left duration-200 text-[12vw] font-extrabold text-[#fff]">
            <h1>Discord<br>BOT</h1>
        </div>
        <!-- <div class = "mb-20 ml-40 self-end z-20 text-center bg-[#809ce2] hover:bg-[#6080d1] cursor-pointer p-[2vw] rounded-[2vw] duration-200">
            <p class="text-[3vw] font-bold">
                <a class="no-underline text-[#fff]" routerLink = "/discord">Explore</a>
            </p>
        </div> -->

        <app-button-link Name = "Explore" Link = "/discord" Color = "#809ce2" Hover_Color = "#6080d1" class="mb-20 ml-40 self-end"></app-button-link>
    </div>
</section>
