<div class="flex whitespace-nowrap z-0">
    <fa-icon [icon]="faBars" class = "p-[10px] text-[40px] cursor-pointer text-black fixed top-0 left-0 dark:text-white hover:text-[#FF9F1C] menuIcon" (click)="showmenu()"></fa-icon>


    <div class = "nav-links relative h-screen duration-200 backdrop-blur-3xl bg-white opacity-85" [ngClass]="[side_bar_val]">
        <ul class="flex flex-col justify-between absolute top-0 right-0 pt-16 pr-16">
            <li class="list-none py-2 after:content-[''] after:w-0 after:h-[3px] after:bg-[#FDFFFC] after:block after:m-auto after:duration-500 hover:after:w-full"><a class="no-underline text-black" routerLink = "/">HOME</a></li>
            <li class="list-none py-2 after:content-[''] after:w-0 after:h-[3px] after:bg-[#FDFFFC] after:block after:m-auto after:duration-500 hover:after:w-full"><a class="no-underline text-black" routerLink = "/projects">PROJECTS</a></li>
            <li class="list-none py-2 after:content-[''] after:w-0 after:h-[3px] after:bg-[#FDFFFC] after:block after:m-auto after:duration-500 hover:after:w-full"><a class="no-underline text-black" routerLink = "/about">CONTACT</a></li>
        </ul>
        <fa-icon [icon]="faXmark" class="p-[10px] text-[40px] cursor-pointer text-black absolute top-0 right-0 hover:text-[#FF9F1C]" (click)="hidemenu()"></fa-icon>
    </div>   
</div>