<section class="">
    <div class="relative h-screen m-0 overflow-hidden">
        <div class="w-full m-auto bg-[#e4e4e4] dark:bg-[#282b30] duration-500 h-full">
            <div class="absolute top-0 left-0 lg:h-[140%] overflow-hidden flex flex-wrap w-full m-auto lg:rotate-[10deg] lg:translate-y-[-20vh]">
                @if(innerWidth < 1024){
                    <app-discord-column [scale]="1" [col_num]="1" [messages]="messages"></app-discord-column>
                }
                @else {
                    <app-discord-column [scale]="0.5" [col_num]="1" [messages]="messages"></app-discord-column>
                }
            </div>

            <div class="background-bg h-full w-full"></div>

            <div class="z-30 absolute top-0 left-0 w-full h-screen text-[10vw] font-semibold text-end whitespace-nowrap px-[2vw] py-[10vh] flex flex-wrap justify-around items-end flex-col">
                <div>
                    <h1 class="text-[1em]">Microphone</h1>
                    <p class="text-[0.3em]">A voice recording discord bot</p>
                </div>

                <div class = "">
                    <p><a href = "https://discord.com/oauth2/authorize?client_id=1181417253414109185&scope=bot&permissions=66068494">Add to server</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
