.background-bg{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.3) 0%, rgba(14,17,131,0) 53%, rgba(0,212,255,0.29735644257703087) 100%);
}

.myButton {
	box-shadow: 0px 0px 0px clamp(0.2rem, 0.2vw, 3rem) #9fb4f2;
	background-color:#7279da;
	border-radius: clamp(1rem, 1vw, 5rem);
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: clamp(2rem, 3vw, 5rem);
    font-weight: 700;
	padding: clamp(1rem, 1vw, 5rem) clamp(2rem, 2vw, 5rem);
	text-decoration:none;
}
.myButton:hover {
	background-color:#5a61ad;
}
.myButton:active {
	position:relative;
	top:1px;
}