<div class="overflow-hidden flex flex-wrap w-full m-auto">
    <!-- Columns -->
    @for(number of col_amount; track $index){
        @let col_index = $index;
        <div class="discordColumn overflow-hidden flex flex-col flex-wrap duration-500"
            [ngStyle]='{"width": "calc(100% / " + col_num + "*" + scale +")", 
                        "padding": "calc(2vw / " + col_num + "*" + scale +")",
            }'>

            <!-- Sections -->
            @for(number of section_amount; track $index){
            <div class="discord_section">

                <!-- Messages -->
                @for(message of messages; track $index){
                    @if($index % col_num == col_index){                            
                        <app-discord-message [scale] = 'scale' [col_num] = 'col_num' [time] = "message.date" name = "{{message.name}}" text="{{message.audioString}}" icon="{{message.avatar}}"></app-discord-message>
                    }
                }
            </div>
            }
        </div>
    }
</div>
