rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

.showpath{
    animation: dash 5s ease-in-out forwards;
}

@keyframes dash{
    50% {
       stroke-dashoffset: 0;
     }
     100% {
       stroke-dashoffset: 0;
    }
}