<section [ngClass]="isDarkMode ? 'dark': 'block'" class="duration-500">
    <nav class = "topBAR z-20 relative">

        <!-- Side Bar -->
        <div class = "fixed top-0 left-0">
            <app-sidebar-menu></app-sidebar-menu>
        </div>
        <!-- <div id="search">
            <fa-icon [icon]d="searchInput" type="text" placeholder="Search">
        </div> -->

        <!-- Dark Mode Toggle -->
        <div class="fixed top-0 right-3" *ngIf="__URL != ''">
            <app-theme-toggle></app-theme-toggle>
        </div>
    </nav>

    <!-- Custom Scrollbar -->
    <div class="max-h-screen overflow-y-auto
    [&::-webkit-scrollbar]:w-2.5
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-track]:bg-gray-300
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-thumb]:bg-gray-500
    dark:[&::-webkit-scrollbar-track]:bg-neutral-700
    dark:[&::-webkit-scrollbar-thumb]:bg-neutral-200
    
    dark:bg-[#282b30] duration-500 z-0 relative">

        <!-- Main Content -->
        <router-outlet></router-outlet>
    </div>
</section>

<!-- Routed views go here -->
 <!-- Tool bar, night mode -->