<section [ngClass]="isDarkMode ? 'dark': 'block'" class="duration-500">
    <nav class = "topBAR z-20 relative" *ngIf ="__URL != ''">

        <!-- Side Bar -->
        <div class = "fixed top-0 left-0">
            <app-sidebar-menu></app-sidebar-menu>
        </div>
        <!-- <div id="search">
            <fa-icon [icon]d="searchInput" type="text" placeholder="Search">
        </div> -->

        <!-- Dark Mode Toggle -->
        <div class="fixed top-0 right-0">
            <app-theme-toggle></app-theme-toggle>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="dark:bg-[#282b30] duration-500 z-0 relative">
        <router-outlet></router-outlet>
    </div>
</section>

<!-- Routed views go here -->
 <!-- Tool bar, night mode -->