<div class="overflow-hidden flex flex-wrap w-full m-auto">
    <!-- Columns -->
    @for(number of col_amount; track $index){
        @let col_index = $index;
        <div class="discordColumn overflow-hidden flex flex-col flex-wrap w-[calc(100%/3)] p-[calc(2vw/3)] duration-500">

            <!-- Sections -->
            @for(number of section_amount; track $index){
            <div class="discord_section">

                <!-- Messages -->
                @for(message of messages; track $index){
                    @if($index % col_num == col_index){                            
                        <app-discord-message-triple [time] = "message.date" name = "{{message.name}}" text="{{message.audioString}}" icon="{{message.avatar}}"></app-discord-message-triple>
                    }
                }
            </div>
            }
        </div>
    }
</div>