<div class="z-0 flex whitespace-nowrap w-40">
    <fa-icon [icon]="faBars" class = "p-[10px] text-[40px] cursor-pointer text-black duration-500 fixed top-0 left-0" (click)="showmenu()"></fa-icon>
    <div class = "nav-links relative h-screen duration-200 bg-[#FF9F1C]" [ngClass]="[side_bar_val]">
        <ul class="flex flex-col justify-between absolute top-0 right-0 pt-16 pr-16">
            <li class="list-none py-2"><a class="no-underline text-black" routerLink = "/">HOME</a></li>
            <li class="list-none py-2"><a class="no-underline text-black" routerLink = "/projects">PROJECTS</a></li>
            <li class="list-none py-2"><a class="no-underline text-black" routerLink = "/about">ABOUT</a></li>
        </ul>
        <fa-icon [icon]="faXmark" class="p-[10px] text-[40px] cursor-pointer text-black absolute top-0 right-0" (click)="hidemenu()"></fa-icon>
    </div>   
</div>