<div class="h-[140vh] w-screen flex flex-col items-center justify-center relative">
    <div>
        <h1 class="text-[4vw] font-bold">Projects I have made</h1>
    </div>
    <div class="w-3/4 h-screen relative overflow-x-hidden">
        <swiper-container #swiperContainer class="absolute top-0 left-0 w-full h-full" [slidesPerView]="slideNumber" [centeredSlides] = "true">
            @for(slide of selectionSlidesArray; track $index){
                <swiper-slide class="h-full w-full flex items-center justify-center">
                    <app-mini-card [title]="slide.title" [imgUrl]="slide.icon" [link]="slide.link" [description]="slide.description" [languages]="slide?.languages ?? []"></app-mini-card>
                </swiper-slide>
            }
            <swiper-slide class="h-full w-full flex items-center justify-center">
                <app-mini-project-redirect></app-mini-project-redirect>
            </swiper-slide>
        </swiper-container>
    </div>

    <!-- Left arrow -->
    <div class="absolute left-20">
        <fa-icon [icon]="faAngleLeft" class="text-[60px] cursor-pointer" (click)="scrollLeft()"></fa-icon>
    </div>

    <!-- Right arrow -->
    <div class="absolute right-20">
        <fa-icon [icon]="faAngleRight" class="text-[60px] cursor-pointer" (click)="scrollRight()"></fa-icon>
    </div>
</div>
