<div class="h-screen w-screen flex items-center justify-center relative">
    <div class="w-3/4 h-3/4 overflow-hidden relative">
        <div class="w-full h-full flex flex-nowrap duration-200 justify-center items-center absolute space-x-28" #slides>
            @for(slide of selectionSlidesArray; track $index){
                <app-mini-card></app-mini-card>
            }
        </div>
    </div>

    <!-- Left arrow -->
    <div class="absolute left-20">
        <fa-icon [icon]="faAngleLeft" class="text-[60px] cursor-pointer" (click)="scrollLeft()"></fa-icon>
    </div>

    <!-- Right arrow -->
    <div class="absolute right-20">
        <fa-icon [icon]="faAngleRight" class="text-[60px] cursor-pointer" (click)="scrollRight()"></fa-icon>
    </div>
</div>
