<div #about class="h-screen w-screen relative bg-orange-300 py-10 px-32 lg:px-52 font-bold">
    <div class="text-[7vw]">
        <h1>ABOUT ME</h1>
    </div>

    <div class="text-[1rem] xl:text-[1.7vw] w-full h-[70vh] flex justify-center">
        <div class="mr-20 w-full h-full">
            <h1 class="">
                HI!, I am currently a third year Monash software engineering student.
                I've always had a fascination for all things 
                <span class="text-white text-[1rem] xl:text-[2.5vw]">code</span>, and love to just 
                <span class="text-white text-[1rem] xl:text-[2.5vw]">create</span> whatever I can with it.
            </h1>
            <h1 class="mt-10 border-t-4 border-white pt-9">
                My love started off with scratch and desmos, then to python and javascript games, and eventually 
                <span class="text-white text-[1rem] xl:text-[2.5vw]">bloomed</span> into the various projects that I am currently working on
                right now.
            </h1>
        </div>

        <div class="w-full h-full">
            <img src="/png/my-website-photo-cut.JPG" alt="Website photo" class="rounded-full max-h-[70vh] object-contain">
        </div>
    </div>
</div>