<div #about class="h-screen w-screen relative bg-orange-300 py-10 px-5 font-bold">
    <div class="text-[7vw]">
        <h1>ABOUT ME</h1>
    </div>

    <div class="text-[2vw] w-[80vw]">
        <h1>I am currently a third year Monash software engineering student
            I've always had a facination for all things code, whether than be starting off with small coding projects 
            I would make in scratch and desmos, and eventually blooming into the various projects I am currently working on
        </h1>
    </div>
</div>