<div class="relative">
    <div class="flex absolute top-[-90px] left-[20px] z-0 space-x-16">
        @for( language of languages; track $index){
            <app-language-tag [language]="language"></app-language-tag>
        }
    </div>


    <div class="z-50 w-[30rem] h-[40rem] flex flex-col justify-between items-center bg-white rounded-3xl shadow-lg p-4 relative">
        <div class="flex flex-col items-start">
            <h1 class="text-[2rem] font-bold">{{title}}</h1>
            <h1 class="text-[1.2rem] text-gray-500">{{description}}</h1>
            <div class="w-full max-h-[25rem] flex justify-center items-center p-5">
                <img src="{{imgUrl}}" class="w-full h-full rounded-xl shadow-md object-cover" alt="{{title}}"/>
            </div>
        </div>

        <app-button-link Name="Go to" [link]="link" bg_classes="bg-orange-400 hover:bg-orange-600 [padding-block:_clamp(0.7rem,0.5vw,2rem)] flex-nowrap" class="w-full"></app-button-link>
    </div>
</div>