<div class="h-screen w-screen overflow-hidden relative">
    <div class="rotate-[50deg] h-[340vh] bg-orange-200 absolute top-[-100%] left-[-20%] z-0"
        [ngClass]="start ? 'main-effect1' : 'w-0'">
    </div>

    <div class="rotate-[50deg] h-[250vh] bg-orange-100 absolute top-[-100%] left-[-20%] z-10"
        [ngClass]="start ? 'main-effect2' : 'w-0'">
    </div>

    <div class="rotate-[50deg] h-[250vh] bg-orange-50 absolute top-[-100%] left-[-20%] z-30"
        [ngClass]="start ? 'main-effect3' : 'w-0'">
    </div>
</div>