<div class="h-screen w-screen overflow-hidden relative">
    <div class="rotate-[10deg] h-[140vh] bg-blue-100 absolute top-[-20%] left-[-20%] z-0"
        [ngClass]="start ? 'main-effect1' : 'w-0'">
    </div>

    <div class="rotate-[12deg] h-[150vh] bg-blue-200 absolute top-[-30%] left-[-20%] z-10"
        [ngClass]="start ? 'main-effect2' : 'w-0'">
    </div>

    <div class="rotate-[11deg] h-[150vh] bg-blue-300 absolute top-[-30%] left-[-20%] z-30"
        [ngClass]="start ? 'main-effect3' : 'w-0'">
    </div>
</div>