<section class = "fillerPage">
    <!-- <div class = "parallax desmosBG"></div> -->
    <div class = "parallax paradesmos">
        <object type="image/svg+xml" data="./svg/desmos_svg/desmos-graph-title.svg" class = "svgdesmos" id = "svgGraphdesmos"></object>
        <object type="image/svg+xml" data="./svg/desmos_svg/desmos_logo.svg" class = "svgdesmos" id = "svgLogodesmos"></object>
    </div>

    <div class = "parallax pageInfo" id = "svgdesmosbutton">   
        <p><a href = "project_desmos.html">Explore</a></p>
    </div>
</section>