<!-- Grid background -->
<section class = "fillerPage bg-white dark:bg-[#282b30]">

    <!-- Svgs -->
    <div class = "flex justify-center items-center w-full h-screen relative">
        <app-svg-object svg_class = "scale-[2] xl:scale-[2.2] w-[1200px] h-[800px] translate-x-[40%] md:translate-x-[30%] xl:translate-x-[0%]" svg = "desmos-graph-title.svg" id = "svgGraphdesmos"></app-svg-object>
        <app-svg-object svg_class = "md:scale-[2] lg:scale-[2.2] xl:scale-[3.2] 2xl:scale-[3.4] absolute top-0 right-0 translate-x-[-10%] md:translate-x-[-60%] lg:translate-x-[-100%] xl:translate-x-[-150%] 2xl:translate-x-[-200%] translate-y-[150%]" svg = "desmos_logo.svg" id = "svgLogodesmos"></app-svg-object>
    </div>

    <!-- <app-button-link Name = "Explore" Link = "/desmos" class="absolute bottom-0 right-0 mr-20 md:mr-80 mb-16" bg_classes="bg-[#be5454] hover:bg-[#833939]"></app-button-link> -->
    <app-cooler-button-link link="/desmos" class="absolute top-0 right-0"></app-cooler-button-link>
</section>