<div class="flex flex-row-reverse button-box relative">
    <a routerLink="{{link}}" class="h-screen z-30 pr-3 flex justify-center items-center item-A hover-background">
        <fa-icon [icon]="faAngle" class="text-[150px] opacity-0 text-white text-left icon hover-effect"></fa-icon>
    </a>
    <div class="h-screen z-30 pr-3 flex justify-center items-center item-B hover-background">
        <fa-icon [icon]="faAngle" class="text-[120px] opacity-0 text-white text-left icon hover-effect"></fa-icon>
    </div>
    <div class="h-screen z-30 pr-3 flex justify-center items-center item-C hover-background">
        <fa-icon [icon]="faAngle" class="text-[90px] opacity-0 text-white text-left icon hover-effect"></fa-icon>
    </div>
    <div class="absolute top-0 right-0 h-full flex flex-col justify-evenly idle-arrow text-[40px] text-left text-gray-100">
        <fa-icon [icon]="faAngle" ></fa-icon>
        <fa-icon [icon]="faAngle" ></fa-icon>
        <fa-icon [icon]="faAngle" ></fa-icon>
        <fa-icon [icon]="faAngle" ></fa-icon>
        <fa-icon [icon]="faAngle" ></fa-icon>
        <fa-icon [icon]="faAngle" ></fa-icon>
        <fa-icon [icon]="faAngle" ></fa-icon>
    </div>
</div>