<div class="w-full p-[3%] mb-[3%] self-start flex justify-center items-start rounded-[calc(4vw/3)] text-left bg-[#ffffff] dark:bg-[#36393e] duration-500">
    <div class="w-1/4 pl-[0.5vw] pr-[1.5vw] flex duration-500">
        <img src = "{{icon}}" class="w-full h-full clippy mt-[10%] ml-[5%] mr-[25%]">
    </div>

    <div class="w-4/5 flex flex-wrap font-sans duration-500">
        <h1 class="text-[calc(4vw/3)] text-[#ffbb00] pb-[0.5em] pr-[0.5em] duration-500">{{name}}</h1>
        <h5 class="flex-1 w-1/5 font-light self-center text-[calc(2.4vw/3)] text-[#292929] dark:text-[#ffffff] pb-[0.5em] whitespace-nowrap duration-500">Today at {{time[1]}}</h5>
        <h2 class="w-full text-start text-[calc(4vw/3)] font-[350] text-black dark:text-[#ffffff] pb-[0.5em] leading-[1.2em] duration-500" >{{text}}</h2>
    </div>
</div>
