<div class="w-full p-[3%] mb-[3%] self-start flex justify-center items-start text-left bg-[#ffffff] dark:bg-[#36393e] duration-500 shadow-lg dark:shadow-[#1e2124]"
    [ngStyle]='{"border-radius": "calc(4vw / " + col_num + "*" + scale +")"}'>
    <div class="w-1/4 pl-[3%] pr-[5%] flex duration-500">
        <img src = "{{icon}}" class="w-full h-full clippy mt-[10%] ml-[5%] mr-[25%]">
    </div>

    <div class="w-3/4 flex flex-wrap font-sans duration-500">
        <h1 class="text-[#ffbb00] pb-[0.5em] pr-[0.5em] duration-500"
            [ngStyle]='{"font-size": "calc(4vw / " + col_num + "*" + scale +")"}'>{{name}}</h1>
        <h5 class="flex-1 w-1/5 font-light self-center text-[#292929] dark:text-[#ffffff] pb-[0.5em] whitespace-nowrap duration-500"
            [ngStyle]='{"font-size": "calc(2.4vw / " + col_num + "*" + scale +")"}'>Today at {{time[1]}}</h5>
        <h2 class="w-full text-start] text-black dark:text-[#ffffff] pb-[0.5em] leading-[1.2em] duration-500"
            [ngStyle]='{"font-size": "calc(4vw / " + col_num + "*" + scale +")"}'>{{text}}</h2>
    </div>
</div>
