<div class="relative w-[4rem] h-[10rem]">
    <div class="absolute top-0 left-0 w-full h-full">
        <div class="rotate-180 stretch">
            <fa-icon [icon]="faBookmark" class="text-[5rem]"
            [ngClass]="bgColor ? bgColor : 'text-blue-200'"></fa-icon>
        </div>
    </div>
    <div class="absolute top-[45px] left-0 w-full h-full">
        <h1 class="w-full h-full flex justify-center items-start font-semibold text-[1.5rem]"
            [ngClass]="textColour ? textColour : 'text-black'">{{language}}</h1>
    </div>
</div>
